/*
This is the visible area of you carousel.
Set a width here to define how much items are visible.
The width can be either fixed in px or flexible in %.
Position must be relative!
*/
.carousel__wrapper {
  //flex-grow: 10;

  overflow: hidden;

  display: flex;
  flex-flow: row nowrap;
  justify-content: left;
  width: 100%;
  height: 420px;
  position: relative;
}