/*
These are the item elements. jCarousel works best, if the items
have a fixed width and height (but it's not required).
*/
.carousel_item {
  /* Required only for block elements like <li>'s */
  float: left;
  width: 300px;
  border: 2px solid blue;
}