@import "./_list/_list";
@import "./_item/_item";
@import "./_item_wrapper/_item-wrapper";
@import "./_pagination/_pagination";
@import "./_control-wrapper/_control-wrapper";
@import "./_wrapper/_wrapper";
@import "./_page-marker/_page-marker";

.carousel {
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;

  box-sizing: border-box;
  background-color: rgba(0, 0, 0, 0.5);

  color: white;
}

.carousel a {
  color: rgba(95, 91, 91, 0.75);
}

.carousel a:hover {
  color: rgba(255, 255, 255, 0.75);
}
