@import "./__list/__list";
@import "./__item/__item";
@import "./__item_wrapper/__item-wrapper";
@import "./__pagination/__pagination";
@import "./__control-wrapper/__control-wrapper";
@import "./__wrapper/__wrapper";
@import "./__page-marker/__page-marker";
@import "./__page-marker/_active";

.carousel {
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;

  box-sizing: border-box;
  background-color: rgba(0, 0, 0, 0.5);

  color: white;
}

.carousel a {
  color: rgba(95, 91, 91, 0.75);
}

.carousel a:hover {
  color: rgba(255, 255, 255, 0.75);
}
