@import "./_list/_list";
@import "./_item/_item";
/*
This is the visible area of you carousel.
Set a width here to define how much items are visible.
The width can be either fixed in px or flexible in %.
Position must be relative!
*/
.carousel {
  margin: 0;
  position: relative;
  overflow: hidden;
}

.carousel-wrapper {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  padding: 30px 0 0 0;
}

.carousel-control-wrapper {
  width: 300px;
}



