doctype html
html(lang="ru")    
    head
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width")
        //link(rel="stylesheet", href="./styles.scss")
        title Landing Page
    body
        header
            .logo Логотип 
        h Hello
            p текст
        footer